<nav class="navbar navbar-default  navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#app-settings" aria-expanded="true">
				<span class="glyphicon glyphicon-cog nav-collapse-btn"></span>
			</button>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#app-sidebar" aria-expanded="true">
			 	<span class="glyphicon glyphicon-align-justify nav-collapse-btn"></span>
			 </button> 
			<a href="#" class="navbar-brand">Brand</a> 
		</div>
		<div class="collapse navbar-collapse" id="app-settings">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown"><a href="#" class="dropdown-toggle p-sm" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tarique Khan<span class="caret"></span>
					<span class="m-l-xs"><img src="img/a0.jpg" class="img-circle avtar"></span>
				</a> 
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li> 
						<li><a href="#">Another action</a></li> 
						<li><a href="#">Something else here</a></li> 
						<li role="separator" class="divider"></li> 
						<li><a href="#">Separated link</a></li> 
					</ul> 
				</li> 
			</ul>
		</div>
	</div>
</nav>